*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: black;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    background-color: red;
    color: white;
}